{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h2> Acerca de: </h2>
<h7>
    Ésta página es mi proyecto final del curso de Python de Coder House. <br>
    <br>
    Hola, soy Mariano Zavagna, un estudiante de Ingeniería Industrial <br>
    que ha decidido adentrarse en el lenguage de la programación con <br>
    el fin de adquirir nuevos conocimientos y mejorar mi desempeño en <br>
    el ámbito laboral.<br>
    Mis redes sociales:<br>
    <a class="btn btn-light bi-linkedin" style="color: rgb(60, 138, 255);" href="linkedin.com/in/mariano-luis-zavagna-50320a194"></a>
    <a class="btn btn-light bi-github" href="https://github.com/MarianoZavagna"></a>

</h7>

{% endblock %}