{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}


{% if user.is_authenticated %}
<div class="text-right">
    <h2>Bienvenido {{ user.username }}</h2>
    <img height="160px" src="{{url}}" alt="">
</div>
{% endif %}


<hr></hr>
<form action="/search" method="GET">
    <div>
        <input type="text" name="search_param" id="discussion_title" placeholder="Buscar Post"
        {% if search_param %} value="{{ search_param }}" {% endif %}
        >
        <input type="submit" value="Buscar">
        <a  href="{% url 'home:main' %}">
            <button type="button" class="btn btn-outline-light fa fa-undo"></button>
        </a>

    </div>

</form>

<hr></hr>

<h5>Últimas discusiones</h5>

{% if discussions %}
<ul>
    {% for discussion in discussions %}
    <li>
        {{discussion.title}} ----> por: {{discussion.author.first_name}} {{discussion.author.last_name}} - {{discussion.date_posted}}<br>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}