{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h2>Lista de Gamings</h2>
{% if user.is_authenticated %}
<a class="card_custom" href="{% url 'gaming:gaming-add' %}">Crear nuevo Gaming</a>
{% endif %}
<hr></hr>
<ul>
    {% for gaming in gaming_list %}
    <li>
        {{gaming}}
        (
            <a href="{% url 'gaming:gaming-detail' gaming.id %}">
                <i class="fa fa-eye" style="color: rgb(0, 195, 255);"> </i>
            </a>
        {% if user.is_authenticated %}
        |
        <a href="{% url 'gaming:gaming-update' gaming.id %}">
            <i class="fa fa-pencil" style="color: rgb(190, 146, 0);"> </i>
        </a>
        |
        <a href="{% url 'gaming:gaming-delete' gaming.id %}">
            <i class="fa fa-trash" style="color: rgb(243, 13, 13);"> </i>
        </a>
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}